set autoindent
set titlecolor white,green
set statuscolor white,green
set keycolor white,green
set functioncolor white,green

bind ^X cut main
bind ^C copy main
bind ^V paste all
bind ^Q exit all
bind ^S savefile main
bind ^W writeout main
bind ^F whereis all
bind ^H replace main
bind ^G gotoline main
bind ^Z undo main
bind ^Y redo main
bind F3 findnext all
bind F4 findprevious all

